name: Go Linter

on:
  push:
    branches:
      - "**"

jobs:
  golangci-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Git Private Repo
        run: |
          git config --global url."https://github.com/Netcracker/qubership-backup-daemon-go.git".insteadOf "https://github.com/"

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          working-directory: backup-daemon
